<menu>
  <category title="Pizzas">
    <item>
      <name>Tomato &amp; Cheese</name>
      <description></description>
      <information size="small" price="550"></information>
      <information size="large" price="975"></information>
      <information extras="small extra cheese" price="125"></information>
      <information extras="large extra cheese" price="185"></information>
    </item>
    <item>
      <name>Onions</name>
      <description></description>
      <information size="small" price="685"></information>
      <information size="large" price="1085"></information>
      <information extras="small extra cheese" price="125"></information>
      <information extras="large extra cheese" price="185"></information>
    </item>
  </category>
  <category title="Speciality Pizzas">
    <item>
      <name>Three Aces Special</name>
      <description></description>
      <information size="small" price="980"></information>
      <information size="large" price="1580"></information>
    </item>
    <item>
      <name>Mediterranean</name>
      <description>Sliced Tomatoes, Olives, Spinach, Fresh Garlic, Mozzarella &amp; Feta Cheese</description>
      <information size="small" price="980"></information>
      <information size="large" price="1580"></information>
    </item>
  </category>
  <category title="Special Dinners">
    <item>
      <name>Chicken Wing Dinner</name>
      <description>All Dinners served with French Fries and Salad</description>
      <information size="large" price="725"></information>
    </item>
    <item>
      <name>Gyro Plate</name>
      <description>All Dinners served with French Fries and Salad</description>
      <information size="large" price="725"></information>
    </item>
  </category>
</menu>